# =========================
# Gradle
# =========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Gradle Wrapper
gradle-app.setting
!gradle/wrapper/gradle-wrapper.properties

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# IntelliJ project files
out/

# =========================
# Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# Spring Boot
application-local.yml
application-local.yaml
application-local.properties

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
*.swo